#game-container {
    text-align: center;
    margin-top: 250px;
}
#puzzle-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin-bottom: 20px;
}
#puzzle-container img {
    width: auto;
    height: auto;
    cursor: pointer;
}
#message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
#reset {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}